@font-face {
    font-family: 'dino';
    font-weight: 400;
    src: url('../fonts/DINOTMedium_0.eot');
    src: url('../fonts/DINOTMedium_0.eot') format('embedded-opentype'),
         url('../fonts/DINOTMedium_0.woff2') format('woff2'),
         url('../fonts/DINOTMedium_0.woff') format('woff'),
         url('../fonts/DINOTMedium_0.ttf') format('truetype'),
         url('../fonts/DINOTMedium_0.svg#DINOTMedium_0') format('svg');
}

@font-face {
    font-family: 'dino';
    font-weight: 700;
    src: url('../fonts/DINOTBold_0.eot');
    src: url('../fonts/DINOTBold_0.eot') format('embedded-opentype'),
    url('../fonts/DINOTBold_0.woff2') format('woff2'),
    url('../fonts/DINOTBold_0.woff') format('woff'),
    url('../fonts/DINOTBold_0.ttf') format('truetype'),
    url('../fonts/DINOTBold_0.svg#DINOTBold_0') format('svg');
}
