@font-face {
    font-family: 'iconfont';
    src:    url('../fonts/iconfont.eot?6rjl9t');
    src:    url('../fonts/iconfont.eot?6rjl9t#iefix') format('embedded-opentype'),
        url('../fonts/iconfont.ttf?6rjl9t') format('truetype'),
        url('../fonts/iconfont.woff?6rjl9t') format('woff'),
        url('../fonts/iconfont.svg?6rjl9t#iconfont') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'iconfont' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-caret-down:before {
    content: "\e913";
}
.icon-search:before {
    content: "\e912";
}
.icon-cloud-hail:before {
    content: "\e900";
}
.icon-cloud-sun-19:before {
    content: "\e901";
}
.icon-cloud:before {
    content: "\e902";
}
.icon-hurricane-45:before {
    content: "\e903";
}
.icon-light:before {
    content: "\e904";
}
.icon-moon:before {
    content: "\e905";
}
.icon-rain:before {
    content: "\e906";
}
.icon-snow:before {
    content: "\e907";
}
.icon-sunny:before {
    content: "\e908";
}
.icon-wind:before {
    content: "\e909";
}
.icon-windy:before {
    content: "\e909";
}
.icon-cloud-moon:before {
    content: "\e90a";
}
.icon-cloud-rain:before {
    content: "\e90b";
}
.icon-cloud-snow:before {
    content: "\e90c";
}
.icon-moon-cloud-rain:before {
    content: "\e90d";
}
.icon-moon-cloud-snow:before {
    content: "\e90e";
}
.icon-partly-cloud:before {
    content: "\e90f";
}
.icon-rain-hail:before {
    content: "\e910";
}
.icon-cloud-light:before {
    content: "\e911";
}

