body, html{
  font-family: 'dinot', "Hevetica", "Arial", sans-serif;
  margin: 0;
}

*{
  box-sizing: border-box;
}

.weather-app-container{
  position: relative;
}

.screen-container{
  height: 100vh;
  width: 100vw;
  transition: 300ms all;
  opacity: 1;
  visibility: visible;
  top: 0;
  left: 0;
  position: absolute;
  &.hidden{
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
  }
}

.loading-screen{
  background-image: linear-gradient(-178deg, #2454AD 0%, #509AD0 100%);
  h1{
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #fff;
    animation: blink 2s infinite;
  }
}

$step-0: 0%;
$step-1: 50%;
$step-2: 80%;
$step-last: 100%;

.weather-form{
  background-image: linear-gradient(-178deg, #2454AD 0%, #509AD0 100%);
}

.weather-container{
  height: 100vh;
  .gradient-bg{
    background-color: #34B0C2;
    background-image: linear-gradient(-178deg, #34B0C2 $step-0, #CDECE3 $step-1, #fff $step-2);
    color: #fff;
    overflow: hidden;
  }
  &.hot{
    .gradient-bg{
      background-color: #EC7759;
      background-image: linear-gradient(-178deg, #D18599 0%, #FFE2D3 $step-1, #FFF $step-2);
    }
  }
  &.rain{
    .gradient-bg{
      background-color: #7A808D;
      background-image: linear-gradient(-178deg, #667191 0%, #DAE0EC $step-1, #fff $step-2);
    }
  }
  &.fair{
    background-color: #34B0C2;
    background-image: linear-gradient(-178deg, #34B0C2 0%, #CDECE3 $step-1, #fff $step-2);
  }
  &.snow{
    background-color: #2454AD;
    background-image: linear-gradient(-178deg, #2454AD 0%, #509AD0 $step-2);
  }
}

.weather-container.hot{
  .wicon{
    color: #F87C4B;
  }

  .mountain{
    filter: hue-rotate(196deg);
  }
}
.weather-container.rain{
  .wicon{
    color: #477B90;
  }

  .mountain{
    filter: hue-rotate(28deg) grayscale(0.8);
  }
}
.weather-container.fair{
  .wicon{
    color: #4A9A0D;
  }

  .mountain{
    filter: hue-rotate(262deg) grayscale(0.3);
  }
}
.weather-container.snow{
  .wicon{
    color: #3376AA;
  }
}

.weather-container{
  .gradient-bg{
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
  }
}

.weather-lower{
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  .container{
    position: relative;
  }
}

.doge{
  width: 250px;
  height: 250px;
  position: absolute;
  .doge-circles{
    width: 350px;
    height: 80px;
    position: absolute;
    bottom: -10px;
    left: 50%;
    margin-left: -175px;

    .circle-small{
      position: absolute;
      width: 80%;
      height: 80%;
      left: 10%;
      top: 10%;
      background-color: #E0BB86;
      border-radius: 50%;
    }
    .circle-big{
      position: absolute;;
      width: 100%;
      height: 100%;
      background-color: #E0BB86;
      opacity: 0.26;
      border-radius: 50%;
    }
  }
  .doge-figure{
    width: 100%;
    height: 100%;

  }
}

h2, h3, h4, h5, h6{
  font-weight: 400;
  margin: 0;
}

.weather-upper{
  padding: 20px 0 20px 0;
  text-align: center;
  height: auto;
  position: relative;
  color: #fff;
  top: 50px;
  @media screen and (min-width: 769px){
    top: 50%;
    transform: translateY(-50%);
  }

  .forecasts{
    color: rgba(0,0,0,0.7);
  }

  > .container{
    position: relative;
    z-index: 99;
  }

  .location{
    font-size: 25px;
    margin: 0 0 30px 0;
  }
  .weather-icon{
    font-size: 50px;
  }
  .temperature{
    font-family: 'dinot cond';
    font-size: 206.2px;
    line-height: 1;
    letter-spacing: 1.68px;
    text-shadow: 9px 10px 13px rgba(20,20,20,0.13);
    margin-left: -8px;
    sup{
      font-size: 40%;
      font-weight: 400;
      vertical-align: top;
    }
  }
}

.weather-background{
  position: absolute;
  bottom: 30%;
  width: 100%;
  height: auto;
  max-width: 1100px;
  padding-left: 15px;
  padding-right: 15px;
  .container{
    position: relative;
    height: 100%;
  }
  @media screen and (min-width: 1000px){
    margin-left: 5%;
    width: 900px;
    height: 250px;
  }

  .bg{
    // background-image: url('../img/bg.png');
    // background-repeat: no-repeat;
    // background-size: contain;
    // background-position: 10% bottom;
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: all 1s;
    img{
      width: 100%;
      height: auto;
    }
  }
  .doge{
    left: 50%;
    transform: translateX(-50%);
    bottom: -150px;
  }
}

.weather-lower{
  height: 35vh;
}

.weather-right{
  text-align: center;
  @media screen and (min-width: 769px){
    text-align: right;  
  }
}
.weather-info{
  display: inline-block;
  text-align: left;
}

.weather-date{
  font-size: 29px;
  font-weight: 300;
  strong{
    font-weight: 700;
  }
}

.forecasts{
  margin-left: -15px;
  margin-right: -15px;
  .forecast-item{
    display: inline-block;
    padding: 30px 15px;
    text-align: center;
    .day{
      text-transform: uppercase;
    }
    > div {
      margin: 10px 0;
    }
    .icon{
    }
    .low{
      opacity: 0.6;
    }
  }
}

.form-weather{
  input {
    border-bottom: 1px solid #fff;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    color: #fff;
    background: transparent;
    outline: none;
    font-size: 30px;
    text-align: center;
  }
}

.container{
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  @media (min-width: $tablet){
    width: 100%;
  }
  @media (min-width: $desktop){
    width: 900px;
  }
  @media (min-width: $large-desktop){
    width: 1100px;
  }
}

.row{
  margin-left: -15px;
  margin-right: -15px;
}

/** setting section **/
.setting-section{
  position: absolute;
  right: 20px;
  top: 20px;
  color: #fff;
  z-index: 9;

  .item{
    display: inline-block;
  }
  .city{
    text-transform: uppercase;
    font-size: 300;
    a{
      color: #fff;
      text-decoration: none;
    }
  }
}

/** form **/
.g-form{
  position: absolute;
  top: 20px;
  left: 20px;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0px 2px 12px 0px rgba(0,0,0,0.09);

  padding: 5px 35px;
  z-index: 99;
  input{
    display: block;
    border-color: transparent;
    height: 30px;
    outline: none;
    font-size: 20px;
  }

  .icon-search{
    position: absolute;
    display: block;
    top: 8px;
    right: 11px;
    font-size: 20px;
    color: #828282;
  }
  .google-logo{
    position: absolute;
    left: 10px;
    top: 7px;
  }
}

.google-logo{
  display: block;
  width: 25px;
  height: 25px;
  background-image: url("../img/google.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

// switcher 
.switch{
  $switch-size: 24px;
  $button-size: $switch-size - 4;
  display: inline-block;
  width: $switch-size*2;
  height: $switch-size;
  position: relative;
  &:before{
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: $switch-size;
    background-color: #000;
    opacity: 0.3;
  }
  .text{
    color: #fff;
    display: inline-block;
    position: absolute;
    width: $button-size;
    height: $button-size;
    text-align: center;
    right: 2px;
    top: 1px;
    font-size: 14px;
    vertical-align: bottom;
    line-height: 20px;
    .temp{
      position: absolute;
      width: 4px;
      height: 4px;
      border: 1px solid #fff;
      border-radius: 4px;
      top: 6px;
      left: 0;
    }
  }
  .switch-button{
    width: $button-size;
    height: $button-size;
    position: absolute;
    left: 2px;
    top: 2px;
    background-color: #fff;
    border-radius: $button-size;
    transition: all 300ms;
    transform: translate(0);
  }

  &.on{
    .switch-button{
      transform: translate($switch-size, 0);
    }
    .text{
      left: 5px;
    }
  }
}

.measure{
  margin-left: 30px;
  vertical-align: middle;

  .switch{
    
  }
}

.fs-bg{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.weather-rain, .weather-snow{ 
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  div{
    width: 100%;
    height: 100%;
  }
}

/** ----- sun animation ---- **/
@-webkit-keyframes sunwave {
    from {
      width: 50px;
      height: 50px;
      opacity: 0.8;
    }
    to {
      width: 140px;
      height: 140px;
      opacity: 0;
    }
} 

.the-sun{
  position: absolute;
  top: -3%;
  left: 35%;

  >div{ 
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
      background-color: #FFFAC3;
  }
  .sun{
    width: 50px;
    height: 50px;
    @media screen and (min-width: 769px){
      background-color: #FFFAC3;
    }
  }

  [class*="sun-wave"]{
    animation-name: sunwave;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  .sun-wave-1{
    animation-delay: 0s;
  }
  .sun-wave-2{
    animation-delay: 1s;
  }
  .sun-wave-3{
    animation-delay: 2s;
  }
}

/** ----- cloud animation ---- **/
@-webkit-keyframes cloudhorizontal {
  0% {
    transform: translate(-50px, 0);
  }
  50% {
    transform: translate(50px, 0);
  }
  100% {
    transform: translate(-50px, 0);
  }
} 
@-webkit-keyframes cloudvertical {
  0% {
    transform: translate(0, -2px);
  }
  50% {
    transform: translate(0, 2px);
  }
  100% {
    transform: translate(0, -2px);
  }
} 
.cloud{
  position: absolute;
  transform: translate(-50%, -50%);
  .cloud-vertical-animate{
    animation-name: cloudvertical;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
  .cloud-horizontal-animate{
    animation-name: cloudhorizontal;
    animation-duration: 10s;
    // animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
}
.cloud-1{
  top: 0;
  left: 20%
}
.cloud-2{
  top: 3%;
  left: 70%;
  .cloud-vertical-animate, .cloud-horizontal-animate{
    animation-delay: 1s;
  }
}
