@font-face {
  font-family: 'dino';
  font-weight: 400;
  src: url("../fonts/dinot_medium.eot");
  src: url("../fonts/dinot_medium.eot") format("embedded-opentype"), url("../fonts/dinot_medium.woff2") format("woff2"), url("../fonts/dinot_medium.woff") format("woff"), url("../fonts/dinot_medium.ttf") format("truetype"), url("../fonts/dinot_medium.svg#DINOTMedium_0") format("svg"); }
@font-face {
  font-family: 'dino';
  font-weight: 700;
  src: url("../fonts/dinot_bold.eot");
  src: url("../fonts/dinot_bold.eot") format("embedded-opentype"), url("../fonts/dinot_bold.woff2") format("woff2"), url("../fonts/dinot_bold.woff") format("woff"), url("../fonts/dinot_bold.ttf") format("truetype"), url("../fonts/dinot_bold.svg#DINOTBold_0") format("svg"); }
@font-face {
  font-family: 'iconfont';
  src: url("../fonts/iconfont.eot?6rjl9t");
  src: url("../fonts/iconfont.eot?6rjl9t#iefix") format("embedded-opentype"), url("../fonts/iconfont.ttf?6rjl9t") format("truetype"), url("../fonts/iconfont.woff?6rjl9t") format("woff"), url("../fonts/iconfont.svg?6rjl9t#iconfont") format("svg");
  font-weight: normal;
  font-style: normal; }
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'iconfont' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-cloud-light:before {
  content: "\e911"; }

.icon-rain-hail:before {
  content: "\e910"; }

.icon-cloud-moon:before {
  content: "\e90a"; }

.icon-cloud-rain:before {
  content: "\e90b"; }

.icon-cloud-snow:before {
  content: "\e90c"; }

.icon-moon-cloud-rain:before {
  content: "\e90d"; }

.icon-moon-cloud-snow:before {
  content: "\e90e"; }

.icon-partly-cloud:before {
  content: "\e90f"; }

.icon-cloud-hail:before {
  content: "\e900"; }

.icon-cloud-sun-19:before {
  content: "\e901"; }

.icon-cloud:before {
  content: "\e902"; }

.icon-hurricane-45:before {
  content: "\e903"; }

.icon-light:before {
  content: "\e904"; }

.icon-moon:before {
  content: "\e905"; }

.icon-rain:before {
  content: "\e906"; }

.icon-snow:before {
  content: "\e907"; }

.icon-sunny:before {
  content: "\e908"; }

.icon-wind:before {
  content: "\e909"; }

body, html {
  font-family: 'dino', "Hevetica", "Arial", sans-serif;
  margin: 0; }

* {
  box-sizing: border-box; }

.weather-container {
  height: 100vh; }
  .weather-container .weather-upper {
    background-color: #2454AD;
    background-image: linear-gradient(-178deg, #2454AD 0%, #509AD0 100%);
    color: #fff;
    overflow: hidden; }
  .weather-container.hot .weather-upper {
    background-color: #EC7759;
    background-image: linear-gradient(-178deg, #FFDB94 0%, #EC7759 100%); }
  .weather-container.rain .weather-upper {
    background-color: #7A808D;
    background-image: linear-gradient(-178deg, #98A5BD 0%, #7A808D 100%); }

.weather-lower {
  position: relative; }
  .weather-lower .container {
    position: relative; }

.doge {
  width: 250px;
  height: 250px;
  position: absolute;
  top: -100px;
  left: 10%; }
  .doge .doge-bg {
    width: 100%;
    height: 100%;
    background-image: url("../img/doge.gif");
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1; }
  .doge .doge-circles {
    width: 350px;
    height: 80px;
    position: absolute;
    top: 146px;
    left: 50%;
    margin-left: -175px; }
    .doge .doge-circles .circle-small {
      position: absolute;
      width: 80%;
      height: 80%;
      left: 10%;
      top: 10%;
      background-color: #E0BB86;
      border-radius: 50%; }
    .doge .doge-circles .circle-big {
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: #E0BB86;
      opacity: 0.26;
      border-radius: 50%; }

h2, h3, h4, h5, h6 {
  font-weight: 400;
  margin: 0; }

.weather-upper {
  padding: 15px 0;
  text-align: center;
  height: 65vh;
  position: relative;
  color: #FFFFFF; }
  .weather-upper .bg {
    background-image: url("../img/moun.png");
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: 10% bottom;
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: all 1s; }
  .weather-upper .location {
    font-size: 25px;
    margin: 0 0 30px 0; }
  .weather-upper .weather-right {
    text-align: right; }
    .weather-upper .weather-right .inner {
      width: 270px;
      display: inline-block;
      text-align: center; }
  .weather-upper .weather-icon {
    font-size: 30px; }
  .weather-upper .temperature {
    font-size: 206.2px;
    line-height: 1;
    letter-spacing: 1.68px;
    text-shadow: 9px 10px 13px rgba(20, 20, 20, 0.13); }
    .weather-upper .temperature sup {
      font-size: 40%;
      font-weight: 400;
      vertical-align: top; }

.weather-lower {
  height: 35vh; }

.forecasts {
  text-align: right; }
  .forecasts .inner {
    width: 270px;
    display: inline-block;
    text-align: center; }
  .forecasts .forecast-item {
    display: inline-block;
    padding: 30px 15px;
    text-align: center; }
    .forecasts .forecast-item > div {
      margin: 10px 0; }
    .forecasts .forecast-item .icon {
      color: #F87C4B; }
    .forecasts .forecast-item .low {
      opacity: 0.4; }

.form-weather input {
  border-bottom: 1px solid #fff;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  color: #fff;
  background: transparent;
  outline: none;
  font-size: 30px;
  text-align: center; }

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto; }
  @media (min-width: 768px) {
    .container {
      width: 100%; } }
  @media (min-width: 1000px) {
    .container {
      width: 900px; } }
  @media (min-width: 1400px) {
    .container {
      width: 1100px; } }

.row {
  margin-left: -15px;
  margin-right: -15px; }

@keyframes slide-up {
  0% {
    top: 100%; }
  70% {
    top: 0; }
  100% {
    top: 3%; } }
.delay-1 {
  -webkit-transition-delay: 100ms;
  -moz-transition-delay: 100ms;
  -ms-transition-delay: 100ms;
  -o-transition-delay: 100ms;
  transition-delay: 100ms; }

.delay-2 {
  -webkit-transition-delay: 200ms;
  -moz-transition-delay: 200ms;
  -ms-transition-delay: 200ms;
  -o-transition-delay: 200ms;
  transition-delay: 200ms; }

.delay-3 {
  -webkit-transition-delay: 300ms;
  -moz-transition-delay: 300ms;
  -ms-transition-delay: 300ms;
  -o-transition-delay: 300ms;
  transition-delay: 300ms; }

.delay-4 {
  -webkit-transition-delay: 400ms;
  -moz-transition-delay: 400ms;
  -ms-transition-delay: 400ms;
  -o-transition-delay: 400ms;
  transition-delay: 400ms; }

.delay-5 {
  -webkit-transition-delay: 500ms;
  -moz-transition-delay: 500ms;
  -ms-transition-delay: 500ms;
  -o-transition-delay: 500ms;
  transition-delay: 500ms; }

.delay-6 {
  -webkit-transition-delay: 600ms;
  -moz-transition-delay: 600ms;
  -ms-transition-delay: 600ms;
  -o-transition-delay: 600ms;
  transition-delay: 600ms; }

.delay-7 {
  -webkit-transition-delay: 700ms;
  -moz-transition-delay: 700ms;
  -ms-transition-delay: 700ms;
  -o-transition-delay: 700ms;
  transition-delay: 700ms; }

.delay-8 {
  -webkit-transition-delay: 800ms;
  -moz-transition-delay: 800ms;
  -ms-transition-delay: 800ms;
  -o-transition-delay: 800ms;
  transition-delay: 800ms; }

.delay-9 {
  -webkit-transition-delay: 900ms;
  -moz-transition-delay: 900ms;
  -ms-transition-delay: 900ms;
  -o-transition-delay: 900ms;
  transition-delay: 900ms; }

.delay-10 {
  -webkit-transition-delay: 1000ms;
  -moz-transition-delay: 1000ms;
  -ms-transition-delay: 1000ms;
  -o-transition-delay: 1000ms;
  transition-delay: 1000ms; }

.delay-11 {
  -webkit-transition-delay: 1100ms;
  -moz-transition-delay: 1100ms;
  -ms-transition-delay: 1100ms;
  -o-transition-delay: 1100ms;
  transition-delay: 1100ms; }

.delay-12 {
  -webkit-transition-delay: 1200ms;
  -moz-transition-delay: 1200ms;
  -ms-transition-delay: 1200ms;
  -o-transition-delay: 1200ms;
  transition-delay: 1200ms; }

.delay-13 {
  -webkit-transition-delay: 1300ms;
  -moz-transition-delay: 1300ms;
  -ms-transition-delay: 1300ms;
  -o-transition-delay: 1300ms;
  transition-delay: 1300ms; }

.delay-14 {
  -webkit-transition-delay: 1400ms;
  -moz-transition-delay: 1400ms;
  -ms-transition-delay: 1400ms;
  -o-transition-delay: 1400ms;
  transition-delay: 1400ms; }

.delay-15 {
  -webkit-transition-delay: 1500ms;
  -moz-transition-delay: 1500ms;
  -ms-transition-delay: 1500ms;
  -o-transition-delay: 1500ms;
  transition-delay: 1500ms; }

.delay-16 {
  -webkit-transition-delay: 1600ms;
  -moz-transition-delay: 1600ms;
  -ms-transition-delay: 1600ms;
  -o-transition-delay: 1600ms;
  transition-delay: 1600ms; }

.delay-17 {
  -webkit-transition-delay: 1700ms;
  -moz-transition-delay: 1700ms;
  -ms-transition-delay: 1700ms;
  -o-transition-delay: 1700ms;
  transition-delay: 1700ms; }

.delay-18 {
  -webkit-transition-delay: 1800ms;
  -moz-transition-delay: 1800ms;
  -ms-transition-delay: 1800ms;
  -o-transition-delay: 1800ms;
  transition-delay: 1800ms; }

.delay-19 {
  -webkit-transition-delay: 1900ms;
  -moz-transition-delay: 1900ms;
  -ms-transition-delay: 1900ms;
  -o-transition-delay: 1900ms;
  transition-delay: 1900ms; }

.weather-container .bg {
  top: 100%; }
.weather-container .weather-upper {
  height: 100vh;
  transition-property: all;
  transition-duration: 400ms; }
.weather-container .weather-lower {
  height: 0;
  transition-property: all;
  transition-duration: 400ms; }
.weather-container .weather-upper .location, .weather-container .weather-upper .weather-icon, .weather-container .weather-upper .temperature {
  opacity: 0;
  transition-property: all;
  transition-duration: 1s; }
.weather-container .forecast-item {
  opacity: 0;
  transition-property: all;
  transition-duration: 1s; }
.weather-container .doge .doge-bg {
  opacity: 0;
  transition-property: all;
  transition-duration: 1s; }
.weather-container .doge .doge-circles {
  transform: scale(0);
  transition-property: all;
  transition-duration: 500ms; }
.weather-container.showup .doge .doge-bg {
  opacity: 1; }
.weather-container.showup .doge .doge-circles {
  transform: scale(1); }
.weather-container.showup .bg {
  animation-name: slide-up;
  animation-delay: 200ms;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
  transition-property: all;
  transition-duration: 500ms; }
.weather-container.showup .weather-upper .location, .weather-container.showup .weather-upper .weather-icon, .weather-container.showup .weather-upper .temperature {
  opacity: 1; }
.weather-container.showup .forecast-item {
  opacity: 1; }
.weather-container.showup .weather-upper {
  height: 65vh; }
.weather-container.showup .weather-lower {
  height: 35vh; }

/*# sourceMappingURL=app.css.map */
